html
{
    overflow: hidden;
}
body
{
    text-align: center;
}
#game-window
{
    position: relative;
    width: 160vh;
    height: 90vh;
    border: solid 0.5vh black;
    overflow: hidden;
    margin: 0 auto;
}
#car-attach
{
    position: absolute;
    width: 45vh;
    height: 45vh;
    left: 50%;
    bottom: 0;
}
#vehicle
{
    position: relative;
    width: 100vh;
    transform: translateX(-50%);
}
#fieldset
{
    position: absolute;
    width: 120vh;
    height: 40vh;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    border: solid 0.5vh black;
    border-radius: 4vh;
}
h2
{
    font-size: 4vh;
    margin-bottom: -0.5vh;
    margin-top: 1%vh
}
select
{
    display: block;
    margin: 0 auto;
    font-size: 2vh;
}
.dropbtn
{
    background-color: #3498DB;
    position: relative;
    color: white;
    padding: 2vh 6vh;
    border-top: solid 1vh #3a3a3a;
    font-size: 2.5vh;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    z-index: 2;
}
.dropbtn:hover
{
    background-color: #22638f;
    transition-duration: 0.2s;
}
.dropdown
{
    position: relative;
    display: inline-block;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 3vh;
    /* clip-path: inset(10% 0% -300% 0%); */
}
.dropdown-content
{
    position: absolute;
    width: 100%;
    transform: translateY(-100%);
    background-color: #9bd1f5;
    border-bottom-left-radius: 3vh;
    border-bottom-right-radius: 3vh;
    transition-duration: 0.2s;
    z-index: 1;
    transition-duration: 0.2s;
}
.dropdown-content p
{
    color: black;
    padding: 1.5vh;
    margin: 0 auto;
    text-decoration: none;
    font-size: 2.5vh;
    display: block;
    cursor: pointer;
  }
#launch
{
    display: inline-block;
    position: absolute;
    background-color: #6edc1e;
    color: black;
    border-radius: 3vh;
    font-size: 5vh;
    font-weight: bold;
    margin-top: 6vh;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    transition-duration: 0.2s;
    z-index: -1;
    cursor: pointer;
}
#launch:hover
{
    transition-duration: 0.2s;
    background-color: #3d8b04;
    color: white;
    cursor: pointer;
}
#driver
{
    position: relative;
    width: 10%;
    height: 10%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
}
.options-buttons
{
    font-size: 1vh;
    padding-left: 30vh;
    padding-right: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.drop-title
{
    position: relative;
    background-color: #44ce4b;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    margin: 0;
    z-index: 2;
    font-size: 2.5vh;
}
/* @media screen and (max-width: 165vh)
{
    #game-window
    {
        background-color: rgb(140, 30, 30);
    }
} */