html
{
    overflow: hidden;
}
body
{
    text-align: center;
}
#game-window
{
    position: relative;
    width: 160vh;
    height: 90vh;
    border: solid 0.5vh black;
    overflow: hidden;
    margin: 0 auto;
}
#car-attach
{
    position: absolute;
    width: 45vh;
    height: 45vh;
    left: 50%;
    bottom: 0;
}
#vehicle
{
    position: relative;
    width: 100vh;
    transform: translateX(-50%);
}
#fieldset
{
    position: absolute;
    width: 120vh;
    height: 40vh;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    border: solid 0.5vh black;
    border-radius: 4vh;
}
h2
{
    font-size: 4vh;
    margin-bottom: -0.5vh;
    margin-top: 1%vh
}
select
{
    display: block;
    margin: 0 auto;
    font-size: 2vh;
}
.choice-row
{
    display: inline-block;
    width: 20vh;
    margin-top: 0;
    font-size: 2.5vh;
    margin-left: 5vh;
    margin-right: 5vh;
}
#launch
{
    display: inline-block;
    position: absolute;
    background-color: rgb(200, 200, 200);
    border-radius: 1vh;
    font-size: 5vh;
    font-weight: bold;
    margin-top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    transition-duration: 0.1s;
    cursor: pointer;
}
#launch:hover
{
    transition-duration: 0.1s;
    background-color: rgb(150, 150, 150);
    cursor: pointer;
}
#driver
{
    position: relative;
    width: 10%;
    height: 10%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
}
.options-buttons
{
    font-size: 1vh;
    padding-left: 30vh;
    padding-right: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
/* @media screen and (max-width: 165vh)
{
    #game-window
    {
        background-color: rgb(140, 30, 30);
    }
} */